body{
    background-color: rgb(18, 148, 146);
}
.line1{
    text-align: center;
    padding: auto;
    margin-top: 150px;
}
.line1 h1{
    font-size: 65px;
    font-family: cursive;
    text-size-adjust: auto;
    color: rgb(212, 208, 222);
}
.line1 p{
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    margin-top: 40px;
    color: rgb(3, 56, 102);
}
.line2{
    text-align: center;
    margin-top: 45px;
    color: rgb(35, 10, 0);
}
.btn{
    height: 25px;
    border: none;
    width: 115px;
    background-color: rgb(1, 32, 32);
    color: rgb(212, 208, 222);
    font-size: 12px;
}